@use "variables" as v;

@mixin theme {
  // Theme variables
  --background: light-dark(#{v.$neutral-50},
    color-mix(in oklab, #{v.$neutral-900} 90%, #{v.$violet-950} 10%));
  --foreground: light-dark(#{v.$neutral-950}, #{v.$neutral-50});
  --card: light-dark(#{v.$neutral-50}, #{v.$neutral-950});
  --card-foreground: light-dark(#{v.$neutral-950}, #{v.$neutral-50});
  --popover: light-dark(#{v.$neutral-50}, #{v.$neutral-950});
  --popover-foreground: light-dark(#{v.$neutral-950}, #{v.$neutral-50});
  --primary: light-dark(#{v.$neutral-900}, #{v.$neutral-100});
  --primary-foreground: light-dark(#{v.$neutral-100}, #{v.$neutral-900});
  --secondary: light-dark(#{v.$neutral-100}, #{v.$neutral-925});
  --secondary-foreground: light-dark(#{v.$neutral-900}, #{v.$neutral-100});
  --accent: light-dark(#{v.$neutral-100}, #{v.$neutral-800});
  --accent-foreground: light-dark(#{v.$neutral-900}, #{v.$neutral-100});
  --destructive: light-dark(#{v.$red-500}, #{v.$red-700});
  --destructive-foreground: light-dark(#{v.$neutral-100}, #{v.$neutral-100});
  --border: light-dark(#{v.$neutral-200}, #{v.$neutral-800});
  --border-mono: light-dark(#{v.$neutral-950}, #{v.$neutral-400});
  --input: light-dark(#{v.$neutral-200}, #{v.$neutral-800});
  --ring: light-dark(#{v.$neutral-400}, #{v.$neutral-300});

  --button-border: light-dark(#{v.$neutral-300}, #{v.$neutral-700});
  --header-bg: light-dark(oklch(1 0 0 / 90%),
      oklch(0.275 0.0185 294.32 / 90%));
  --icon-button-hover: light-dark(color-mix(in oklab, #{v.$neutral-200} 60%, transparent),
    color-mix(in oklab, #{v.$neutral-600} 55%, transparent));
  --icon-container-hover: light-dark(color-mix(in oklab, #{v.$neutral-300} 40%, transparent),
    color-mix(in oklab, #{v.$neutral-500} 45%, transparent));
  --link: light-dark(#{v.$blue-600}, #{v.$cyan-500});
  --code-bg: light-dark(#{v.$slate-200}, #{v.$neutral-925});
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

:root {
  @include theme;
}