---
import Link from "@components/Link.astro";

const ICON_SIZE = 20;
---

<footer id="footer">
  <div class="footer__content">
    <div class="footer-nav-links">
      <Link href={"/#about"} type="secondary">About</Link>
      <Link href={"/blog"} type="secondary">Blog</Link>
      <Link href={"/resume"} type="secondary">Resume</Link>
      <Link href={"/contact"} type="secondary">Contact</Link>
    </div>
    <div class="contact-links">
      <Link
        type="icon"
        icon={"ph:github-logo"}
        aria-label="GitHub"
        href="https://github.com/faraazb"
        target="_blank"
        iconProps={{ size: ICON_SIZE }}
      />
      <Link
        type="icon"
        icon={"ph:linkedin-logo"}
        aria-label="LinkedIn"
        href="https://linkedin.com/in/faraazb"
        target="_blank"
        iconProps={{ size: ICON_SIZE }}
      />
      <Link
        type="icon"
        icon={"ph:x-logo"}
        aria-label="X"
        href="https://x.com/mfaraazb"
        target="_blank"
        iconProps={{ size: ICON_SIZE }}
      />
    </div>
  </div>
</footer>

<style lang="scss">
  @use "@styles/include-media" as query;
  @use "@styles/variables" as v;
  @use "../styles/constants" as constants;

  #footer {
    border-top: thin dashed light-dark(v.$neutral-950, v.$neutral-400);
    background-color: var(--secondary);
    backdrop-filter: saturate(180%) blur(20px);
    display: grid;
    grid-template-areas: "ml content mr";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr constants.$content-clamp 1fr;
    @include query.media("<=tablet") {
      padding: 1.75rem;
    }
  }

  .footer__content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    place-content: center;
    @include query.media("<=tablet") {
      align-items: center;
      justify-items: center;
    }
  }

  .footer-nav-links {
    display: flex;
    column-gap: 20px;
  }

  .contact-links {
    display: flex;
    flex-direction: row;
    column-gap: 1.75rem;
    justify-content: end;
  }
</style>
