---
import type { HTMLAttributes } from "astro/types";
import classnames from "classnames";
// import { Icon, type IconProps } from "./Icon.tsx";
import { Icon } from "astro-icon/components";
import type { Accent } from "src/types";

interface Props extends HTMLAttributes<"a"> {
  type?: "primary" | "secondary" | "icon";
  accent?: Accent;
  icon?: Parameters<typeof Icon>[0]["name"];
  iconProps?: Omit<Parameters<typeof Icon>[0], "name">;
}

const {
  type = "primary",
  accent = "",
  icon,
  href,
  class: classProp,
  iconProps,
  ...rest
} = Astro.props;
const className = classnames("link", classProp, {
  "link--primary": type === "primary",
  "link--secondary": type === "secondary",
  "link--icon": type === "icon",
  "link--green": accent === "green",
  "link--pink": accent === "pink",
  "link--yellow": accent === "yellow",
});
---

<a href={href ?? ""} class={className} {...rest}>
  {icon ? <Icon name={icon} size={18} {...(iconProps ? iconProps : {})} /> : null}
  {
    type !== "icon" ? (
      <span class="link__title">
        <slot />
      </span>
    ) : null
  }
</a>

<style lang="scss">
  @use "@styles/variables" as v;

  .link {
    border-radius: 0.25rem;
    color: var(--foreground);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    height: 100%;
    max-width: fit-content;
    outline: none;
    padding: 0.625rem 1.5625rem;
    text-align: center;
    touch-action: manipulation;
    transform: translateY(0);
    transition:
      transform 0.15s,
      box-shadow 0.15s;
    user-select: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 0.55rem;
    border: 1px solid transparent;

    &--primary {
      background-color: light-dark(v.$cyan-450, v.$cyan-800);
      border-color: light-dark(v.$cyan-300, v.$cyan-700);

      &:hover {
        background-color: light-dark(v.$cyan-500, v.$cyan-700);
      }

      &:hover:not(:disabled) {
        box-shadow:
          color-mix(in oklch, v.$neutral-900 12%, transparent) 0 3px 9px 0;
        transform: translateY(-2px);
      }
    }

    &--green {
      background-color: light-dark(v.$emerald-200, v.$emerald-800);
      border-color: light-dark(v.$emerald-300, v.$emerald-700);

      &:hover {
        background-color: light-dark(v.$emerald-300, v.$emerald-700);
      }
    }

    &--pink {
      background-color: light-dark(v.$pink-200, v.$pink-800);
      border-color: light-dark(v.$pink-300, v.$pink-700);

      &:hover {
        background-color: light-dark(v.$pink-300, v.$pink-700);
      }
    }

    &--yellow {
      background-color: light-dark(v.$yellow-200, v.$yellow-800);
      border-color: light-dark(v.$yellow-350, v.$yellow-700);

      &:hover {
        background-color: light-dark(v.$yellow-350, v.$yellow-700);
      }
    }

    &:focus {
      outline: 3px solid light-dark(v.$blue-500, v.$blue-400);
    }

    &--icon {
      padding: 0;
      border: none;

      // &:hover {
      //   background-color: var(--icon-button-hover);
      // }
    }

    &--secondary {
      padding: 0;
      border-radius: 0;
      text-decoration: none;
      color: inherit;
      line-height: 1;

      &.contact-link {
        display: flex;
      }

      .link__title {
        background: linear-gradient(
            0deg,
            light-dark(v.$cyan-400, v.$cyan-600),
            light-dark(v.$cyan-400, v.$cyan-600)
          )
          no-repeat right bottom / 0 var(--bg-h);
        transition: background-size 350ms;
        padding-bottom: 2px;
        --bg-h: 4px;
      }
    }

    &--secondary:where(:hover, :focus-visible) {
      .link__title {
        background-size: 100% var(--bg-h);
        background-position-x: left;
      }
    }
  }
</style>
