---
import { getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import { h1, h2, h3, h4, h5, h6 } from "@components/heading";

export async function getStaticPaths() {
  const posts = await getCollection("blogs");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const components = {
  // this does not work for some reason
  // h1: (props: HTMLAttributes<"h1">) => <Heading level={1} {...props} />,
  // h2: (props: HTMLAttributes<"h2">) => <Heading level={2} {...props} />,
  // h3: (props: HTMLAttributes<"h3">) => <Heading level={3} {...props} />,
  // h4: (props: HTMLAttributes<"h4">) => <Heading level={4} {...props} />,
  // h5: (props: HTMLAttributes<"h5">) => <Heading level={5} {...props} />,
  // h6: (props: HTMLAttributes<"h6">) => <Heading level={6} {...props} />,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
};
---

<Layout title={post.data.title}>
  <article>
    <h1>{post.data.title}</h1>
    <Content components={components} />
  </article>
</Layout>

<style lang="scss" is:global>
  @use "@styles/include-media" as query;

  .content {
    margin: 6% 12%;

    @include query.media("<tablet") {
      margin: 6% 8%;
    }
    @include query.media(">=1440px") {
      margin: 6% 18%;
    }
  }
  
  article {
    code {
      background-color: var(--code-bg);
      padding: 0.125em 0.25em;
      border-radius: 0.25rem;
      font-size: calc(1em - 10%);
    }

    a:not([href^="#"]) {
      color: var(--link);
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }

    a:not([href^="#"]):hover {
      text-decoration: underline;
    }
  }
</style>
